<p id="notice"><%= notice %></p>

<h1>All Projects</h1>

    <% User.all.each do |user| %>
      <tr>
       <p> <strong>Projects Modified by:</strong>
        <td><%= user.user_name %></td></p>
       
      <p> <% user.projects.each do |project|%> 
       <%= project.name%>
        <td><%= link_to 'Show', project_path(project)%></td></p>
       <%end%>
       
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add New project', new_project_path %>