
<h1> Projects </h1>
<h2> Add New Project</h2>
<%= form_for  @project, url: {action: "create"} do |form| %>
    <%= form.label :name%>
    <%= form.text_field :name%>
  <br>
    <%= form.label :description%>
    <%=form.text_field :description%>
<br>
    <%= form.label :contactinfo%>
    <%= form.text_field :contactinfo %>
<br>
    <%= form.submit "Save" %>
<%end%>

<%# render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
