<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Modified by: <%= @project.user.user_name %> </strong></p>
<p>
  <strong>Contact Information:</strong>
  <%= @project.contactinfo %>
</p>

<p>
  <%# TODO:UPDATE THIS LINE %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> 
<%= link_to 'Back', projects_path %>
<td><%= link_to 'Delete', project_path(@project), method: :DELETE, data: { confirm: 'Are you sure?' } %></td>
