<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Contact Information:</strong>
  <%= @project.contactinfo %>
</p>

<p>
  <strong>Modified by: <%= @project.user.email %> </strong>
  <%# TODO:UPDATE THIS LINE %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

